/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */



/*universal - will affect all elements*/
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 1.2em; 
    line-height: 2em;
    font-family: 'Oswald', sans-serif;
    color:black;
}

a {font-weight: bold;}
a:link {color: blue;}
a:visited {color: green;}
a:hover, a:focus {color: black;}

h1 {
    font-size: 2em;
    font-family: 'Permanent Marker', cursive;
    color:white;
    text-align: center;
    text-shadow: 2px 2px 3px black;}
}

h2 {
    font-size: 1.5em;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: 1em;
    max-width: 600px;
}

header, footer {
    text-align: center;
    background-color: grey;
    color: whitesmoke;
    border-top: 5px solid blue;
    border-bottom: 5px solid blue;
    
}

header img {
    width: auto;
    height: 180px;
    float: right;
    border-radius:20px;
    box-shadow: 3px 5px 10px black;
}

footer {
    font-size: .75em;
}