/* CIT 230 - Wassup Weather Project */

/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


    /*----------- BODY --------------*/
    
    
    
    /*----------- HEADER --------------*/
    
    
    
    /*----------- NAVIGATION --------------*/
 
    nav ul {
        flex-direction: row;
        justify-content: flex-start;
        align-content: space-between;
        }
    nav ul li:first-child {display:none;}
     
    nav ul li {display:block;margin:.25rem;}
   
    
    
    /*----------- MAIN --------------*/
    .weather_summary {left:8%;}


    section.forecast {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
   
    div.fc {border:1px solid black;text-align:center;margin:0;}
    
    h3.fcday {
        margin:0;
        padding:2% 0 2% 0;
        background: #4d5922;
        color:#D9CB04;
    }

    p.p1{
        margin: 0 0 2% 0;
        padding:0;
    }

    .gallery figure {
        flex-basis: 46%;
    }
    
 
   
    div.left {grid-template-columns: 50% 50%;}
    div.left h3 {
        grid-column-start: 1; 
        grid-column-end: span col2-end;
        justify-self: left;
        margin:2%;
        padding:0;
    }
    
    div.left h4, p{grid-column-start: 1;padding-left:2%;}
    figure.photo {align-items: center;}

    form label.contact input{width:50%;}
    form textarea {width: 50%;}

    section.towns {flex-direction: row;}
    section article {
        margin-top:2%;
        margin-bottom:2%;
        margin-left:1%;
        margin-right:1%;
    
    }

    /*----------- FOOTER --------------*/
    
    section#contact_info h5  {font-size:1.25em;}
    section#contact_info p {font-size:1em;}
} /* end of media query */