/* Color Theme Swatches in Hex */
.ocean-and-beach-1-hex { color: #4E84A6; }
.ocean-and-beach-2-hex { color: #94CEF2; }
.ocean-and-beach-3-hex { color: #C2E5F2; }
.ocean-and-beach-4-hex { color: #7ABFB3; }
.ocean-and-beach-5-hex { color: #C9BDB7; }

/* Color Theme Swatches in RGBA */
.ocean-and-beach-1-rgba { color: rgba(78, 132, 166, 1); }
.ocean-and-beach-2-rgba { color: rgba(148, 206, 242, 1); }
.ocean-and-beach-3-rgba { color: rgba(194, 229, 242, 1); }
.ocean-and-beach-4-rgba { color: rgba(122, 191, 179, 1); }
.ocean-and-beach-5-rgba { color: rgba(201, 189, 183, 1); }

/* Color Theme Swatches in HSLA */
.ocean-and-beach-1-hsla { color: hsla(203, 36, 47, 1); }
.ocean-and-beach-2-hsla { color: hsla(202, 78, 76, 1); }
.ocean-and-beach-3-hsla { color: hsla(196, 64, 85, 1); }
.ocean-and-beach-4-hsla { color: hsla(169, 35, 61, 1); }
.ocean-and-beach-5-hsla { color: hsla(20, 14, 75, 1); }