/* CIT 230 - Temple Inns */

/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {
    .res_form, .contactPg, .serv1{
        max-width: 64rem;
        margin:auto;
    }

    /*----------- BODY --------------*/
    
    
    
    /*----------- HEADER --------------*/
    
    header div.logo img{max-width:150px;max-height:150px;}
    header div.logo h1 {margin:10px; padding:10px;}
    /*----------- NAVIGATION --------------*/
 
    nav button {display:none;}
    nav ul {
        margin-left:2%;
    }
    nav ul.hide { display:block;}
    nav ul li {float:left;}

    nav ul li a { 
        border:none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .8rem 1rem;
    }
    /*----------- MAIN --------------*/
   .banner {max-width:50%;}

   .contact2 {max-width:650px;margin:auto;}
   .responsive-container img {
       width:35%; 
       margin-top:5%;
        position: relative;
        left:50%;
        transform: translate(-50%, 0);
    }
    .serviceImg_row {
        flex-direction:row;

    }
    .serviceImg_col {
        flex: 33.33%;
        padding:5px;
    }

    .serviceImg_col img {
        width:100%;
        box-shadow: 5px 5px 10px black;
    }
    /*----------- FOOTER --------------*/
    
   
} /* end of media query */