/* CIT 230 - Temple Inns */

/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


    /*----------- BODY --------------*/
    
    
    
    /*----------- HEADER --------------*/
    
    
    
    /*----------- NAVIGATION --------------*/
 
    nav button {display:none;}
    nav ul {
        margin-left:2%;
    }
    nav ul.hide { display:block;}
    nav ul li {float:left;}

    nav ul li a { 
        border:none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .8rem 1rem;
    }
    /*----------- MAIN --------------*/
   article.banner {max-width:420px;}

    /*----------- FOOTER --------------*/
    
   
} /* end of media query */