/* title */

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*-----------set background image---------------*/
html { 
	background: url(../images/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }

/*-------------BODY--------------*/
body {font-family: 'Nunito', sans-serif;}
h1, h2, h3, h4, h5, h6 {font-family:'Lato', sans-serif;}

/*------------HEADER-------------*/
header div.logo {
	display:flex;
	justify-content: flex-start;
	align-items: center;
}
header div.logo h1 {
	margin:2%;
	padding:2%;
	font-size:1.2em;
}
header div.logo img{margin:10px 2%;}

/*----------NAVIGATION-----------*/
nav {
	background-color: #4E84A6;
}
nav button {
	margin: .2rem 2%;
	background-color:transparent;
	font-size:1.6rem;
	color:#fff;
	border:none;
}

nav ul {
	list-style-type: none;
	padding:0;
	margin:0;
	text-align:center;
}

nav ul li a {
	display:block;
	padding: .8rem 2%;
	text-decoration: none;
	color: #fff;
	border-top: 1px solid rgba(0,0,0,0.3);
}

nav ul li a:hover {
	background-color: rgba(0,0,0,0.4);
}

nav ul.hide {display:none;}

nav ul li.active a {background-color:rgba(0,0,0,0.2)}

/*------------MAIN---------------*/

article.banner {
	max-width:75%;
	text-align: center;
	border:1px solid #000;
	margin:auto;
	margin-top:15%;
	background-color:#fff;
	opacity: .8;
	color:#000;
	border: 2px solid black;
	padding: 10px;
	background-clip: content-box;
}

.banner h1 {font-size:2.5rem;}

.book {
	margin-top:5%;
	width:100%;
	text-align:center;
}

.temple figure img, .templeImg figure img {
	width:100%;
	border:1px solid black;
	box-shadow: 5px 5px 10px #000;
}
.temple figure figcaption {text-align:center;margin:2%;color:#fff;}

/*-----------FOOTER--------------*/

footer {
	background-color:#4E84A6;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
 }
 footer p{margin:0;padding-top:2%;
	 
 }

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
	content: "";
	display: table;
	clear: both;
  }