/* title */

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*-------------BODY--------------*/
body {font-family: 'Nunito', sans-serif;}
h1, h2, h3, h4, h5, h6 {font-family:'Lato', sans-serif;}
.supInfo, .contactPg, .thx, .rtn, .att {margin:2%; padding:10px;}

/*------------HEADER-------------*/
header div.logo {
	display:flex;
	flex-direction:column;
	justify-content: flex-start;
	align-items: center;
}
header div.logo h1 {
	margin:2%;
	padding:2%;
	font-size:1.2em;
	text-align: center;
}
header div.logo img{margin-top:20px;width:25%;}

/*----------NAVIGATION-----------*/
nav {
	background-color: #4E84A6;
}
nav button {
	margin: .2rem 2%;
	background-color:transparent;
	font-size:1.6rem;
	color:#fff;
	border:none;
}

nav ul {
	list-style-type: none;
	padding:0;
	margin:0;
	text-align:center;
}

nav ul li a {
	display:block;
	padding: .8rem 2%;
	text-decoration: none;
	color: #fff;
	border-top: 1px solid rgba(0,0,0,0.3);
}

nav ul li a:hover {
	background-color: rgba(0,0,0,0.4);
}

nav ul.hide {display:none;}

nav ul li.active a {background-color:rgba(0,0,0,0.2)}

/*------------MAIN---------------*/

.indexContainer {
	position: relative;
	text-align: center;
}

.indexContainer img{width:100%;}

.banner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width:50%;
	text-align: center;
	border:1px solid #000;
	background-color:#fff;
	opacity: .8;
	color:#000;
	border: 2px solid black;
	padding: 10px;
	background-clip: content-box;
}
.banner h3 {font-size:3vw;}
.banner h1 {font-size: 5vw;}
.banner img {width:auto;padding-bottom:2%;}


.book {
	margin-top:2%;
	margin-bottom:3%;
	width:100%;
	text-align:center;
	cursor:pointer;
}



/*-----temple gallery-------*/

.container .mySlides img {width:100%;vertical-align: middle;}
.container {position: relative;}
.mySlides {display:none;} /*hide them by default*/
.cursor {cursor:pointer;}
.prev, .next {
	cursor: pointer;
  	position: absolute;
  	top: 40%;
  	width: auto;
  	padding: 16px;
  	margin-top: -50px;
  	color: white;
  	font-weight: bold;
  	font-size: 20px;
  	border-radius: 0 3px 3px 0;
  	user-select: none;
  	-webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
  }

  /* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  }

  /* Container for image text */
.caption-container {
	text-align: center;
	background-color: #222;
	padding: 2px 16px;
	color: white;
  }
  .row .column img {width:100%;}
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* four columns side by side */
  .column {
	float: left;
	width: 25%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
	opacity: 0.6;
  }
  
  .active,.demo:hover {
	opacity: 1;
  }
  .container {margin: 10px 2%;}

  #topBtn {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color:#7ABFB3; /* Set a background color */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px; /* Some padding */
	border-radius: 10px; /* Rounded corners */
	font-size: 18px; /* Increase font size */
  }
  
  #topBtn:hover {
	background-color: #555; /* Add a dark-grey background on hover */
  }

  .templeInfo article p, .weatherInfo article p {margin-left:2%;}
  
/*----reservations page styles-----*/
main h3 {margin:2%;}

form fieldset {
	margin:2rem 2%;
	border:1px solid  #4d5922;
	border-radius:10px;
	padding:.5rem 2%;
	
}

form fieldset div {
	display:flex;
	flex-direction: column;
	align-items:flex-start;
}

form fieldset div label {
	order: 1;
	width: 10em;
	padding-right: 0.5em;
  }
  
form fieldset input, form fieldset textarea, form fieldset select {
	order: 2;
	flex: 1 1 auto;
  }

#lname, #fname, #email, #phone,#state, #country, #numRoom, #numPeople, #room {
		-webkit-appearance: none;
		display:block;
		margin: .5rem 0;
		padding: .75rem;
		font-size:1rem;
		border:solid 1px #999;
		border-radius: 4px;
		width:100%;
		
	}
	form textarea {
		display:block;
		font-size:1rem;
		margin-top:10px;
		min-height:110px;
		width:100%;
		min-width:200px;
		 
	}

	#submitBtn input{
		width:90%;
		height:50px;
		margin:auto;
		display:block;
		margin-bottom:4%;
		background-color:#4E84A6;
		color:#fff;
		font-size:1.3rem;
		font-weight:bold;
	}

	#submitBtn input:hover {
		cursor:pointer;
		font-size:1.5rem;
		font-weight:bolder;
	}


	/*----services page styles----*/

	.amenities h3 {padding:2%;}
	.serBanner {opacity: .5;}
	.horizontal{
		display:flex;
		flex-wrap: wrap;
		justify-content:space-around;
		align-items:flex-start;
		padding:2%;

		}
	.vertical{
		display:block;
		width:200px;
		text-align:center;
	}
	
	.amenities .serBanner {width:100%; opacity: .5; padding:0; margin:0;}
	.vertical img{width:25%;}

	.serviceImg_row {
		display:flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}
	
	.serviceImg_col img {
		box-shadow: 5px 5px 20px black;
		margin-top:20px;
		width:100%;
	}
	.services {margin:2%;}

	.services ul li {
		margin:10px 2% 5px 0;
		padding-right:2%;
		text-align:justify;
	}
/*-----------contact page styles-----------*/

.contactPg h3 {margin:0;padding:0;}
.flex-outer {margin:0; padding:0;}

.flex-outer li,.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.flex-outer > li > label, .flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;

}
 
.flex-outer > li > label + *,.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li {margin-top:2%;}

.flex-outer li input {
	font-size:1.3rem;
	margin-top:2%;
}

.flex-outer li button {
	margin-left: 50%;
	transform: translate(-50%,0);
	padding: 8px 16px;
	border: none;
	background: #333;
	color: #f2f2f2;
	text-transform: uppercase;
	letter-spacing: .09em;
	border-radius: 2px;
  }

  .flex-inner li {
	width: 100px;
  }
  .flex-inner {
	justify-content:flex-start;
  }
.hdqrts {margin:auto; display:block;text-align:center;}

.responsive-container img {width:100%; margin-top:5%;}


/*-----------FOOTER--------------*/

footer {
	background-color:#4E84A6;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
 }
 footer p{margin-top:5px; padding:0;}
	 
 

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
	content: "";
	display: table;
	clear: both;
  }