/* CIT 230 - Wassup Weather Project */

/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    }

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/





/*----------- MAIN --------------*/
section.forecast {display:block;}
section div.forecast_imgs {
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

section div.forecast_imgs p {margin:0 0 10px 0; padding:0;text-align: center;}
section div.forecast_imgs img {justify-self: center;}

.gallery figure {
	flex-basis: 29%;
}

.gallery figure img:hover {
	box-shadow: 3px 5px 10px black;
}

.gallery figure figcaption {display:block;text-align:center;}
/*----------- FOOTER --------------*/
    
} /* end of media query */