/* CIT 230 - Wassup Weather Project */

body { 
    font-size: 100%; 
    font-family: 'Lato', sans-serif;
		color:black;
		width:1028px;
		margin:auto;
}
h1,h2,h3,h4,h5,h6 {font-family: 'Merriweather', sans-serif;}
main h2{text-align:center;}
footer {
	text-align:center;
	padding:0;
}

/*header styling*/
.top {
  background: #BF7E04;
  height:150px;
}
.top img{
	float:left;
	width:250px;
	margin-left:25px;
	margin-top:25px;
}
.site-name {
	/*position: relative;*/
	margin-left:400px;
	padding-top:40px;

}
.motto h3 {
	color:#6D96A6;
	font-style: italic;
	position: absolute;
	margin-left:450px;
	top:80px;
}

/*nav styling*/
.navigation {
	list-style:none;
	margin:0;
	padding:14px;
	overflow:hidden;
	background-color:black;
	text-align:center;
}
.navigation li:first-child {display:none}
.navigation li {display:inline;}
.navigation li a {
	text-decoration: none;
	color:white;
	text-align: center;
	padding:14px 16px;
}
.navigation a:hover {
	color:green; /*text*/
	background-color: white;
	font-weight:700;
}
.active {
	background-color: darkblue;
	padding-top:16px;
	padding-bottom: 16px;
}

/*weather summary box styling*/
.weatherDiv {
	position:relative;
	border: 1px dashed cyan;
	width:auto;
	height:300px;
	background-image: url('../images/bckgrnd.jpg');
	background-repeat: no-repeat;
	background-size:cover;

}
.weather-img {
	margin:10px auto;
	background-color: #eee;
	border: 1px solid #333;
	width: 100%;
	height: 250px;
}
.weather_summary {
	position: absolute;
	top:25px;
	left:20px;
	background: #ffffff;
	border: 1px solid black;
	opacity: 0.6;
	padding: .5rem;
	box-shadow: 0 0 30px #777;
}
.weather_summary h3 {margin-top:0;margin-bottom:5px;}
.weather_summary p {margin-bottom:2px;}

/*5day forcast styling*/
.fdf_summary {
	display:flex;
	flex-flow:row nowrap;
	justify-content: center;
	align-items: center;
}
.fdf h3 {text-align:center;}
.fdf_summary p{
	padding-right:10px;
	padding-left:10px;
	border:1px solid black;
	text-align:center;
	background-color: #777;
	font-weight: bold;
}
.fdf_summary p img {
	width:125px;
	height:auto;
}

/*style town article*/
.clearfix::after {
	content: "";
	clear:both;
	display:table;
}
.left-column {
	width:49%;
	float:left;
	padding:10px;
} 
.left-column p{
	text-align: justify;
}
.right-column {
	width:45%;
	float:right;
	padding:10px;
}
.article-img img {
	display:block;
	margin:10px auto;
  max-width: 100%;
	height: auto;
}

#contact_info {
	background-color: #BF7E04;
	padding-top:2px;
}
#contact_info img{
	padding:10px;
	margin:10px;
}

#contact_info p {
	font-size:70%;
	padding:0px;
	margin:0px;
}

#contact_info a {
	text-decoration:none;
}
#site_info {
	background-color:#BF7534;
	color:white;
	margin:0;
	padding:0;

}
#site_info p {
	font-size:75%;
	margin-top:5px;
	padding:0;

}