/* CIT 230 - Wassup Weather Project */

body { 
    font-size: 100%; 
    font-family: 'Lato', sans-serif;
    color:black;
		width:100%;
}
h1,h2,h3,h4,h5,h6 {font-family: 'Merriweather', sans-serif;}
header {
	background-color:#D9CB04;
	padding:0;
}
header img {float:left;width:50%;}

main h2{
	text-align:center;	
}

footer {
	text-align:center;
	padding:0;

}
.clearfix {
	overflow: auto;
}

.site-name {
	position:absolute;
	right:0;
	left:0;
	margin-right:auto;
	margin-left:160px;
	font-size:90%
}

.motto h3 {
	font-size: 80%;
	color:#6D96A6;
	font-style: italic;
	position: absolute;
	margin-top:60px;
	margin-left: 160px;
	padding-top:0;

}

.navigation {
	list-style:none;
	text-align: center;
	margin:0;
	padding:0;
}
.navigation li:first-child {display:block;background-color:yellow;}
.navigation li {
	display:none; /*this hides the menu*/
	background-color:cyan; /*menu color*/
	padding:5px;
}
.navigation li a {
	text-decoration: none;
	color:black;
	
}
.navigation a:hover {
	color:green; /*text*/
	background-color:red;
	font-weight:700;
}

.responsive li {display:block;}
@media only screen and (min-width:45em){
.navigation li:first-child {display:none;}
.navigation li {
	display:inline-block;
	margin-right:1rem;
}
}

/*.town-intro{
	position: relative;
	margin-bottom:10px;
	margin-top:10px;
	border: 1px dashed red;
}*/

.weatherDiv {
	margin:10px auto;
	position:relative;
	border: 1px dashed cyan;
	width:500px;
	height:300px;
}
.weather-img {
	margin:10px auto;
	background-color: #eee;
	border: 1px solid #333;
	width: 100%;
	height: 250px;
}
.weather_summary {
	position: absolute;
	top:25px;
	left:20px;
	background: #ffffff;
	border: 1px solid black;
	opacity: 0.6;
	padding: .5rem;
	box-shadow: 0 0 30px #777;
}
.weather_summary h3 {margin-top:0;margin-bottom:5px;}
.weather_summary p {margin-bottom:2px;}

.town-article {
	position:relative;
	border:1px solid black;
	margin:10px auto;
	width:500px;
	height:400px;
}
.article-img{
	margin:10px auto;
	background-color: brown;
	border: 1px solid #333;
	width: 100%;
	height: 150px;
}

.townpage_article h3, h4 {
	margin:0px;
	padding-left:10px;
}

.townpage_article h4 {
	font-family:"Lato";
	font-size:50%;
}

.townpage_article p {
	margin:10px;

}





#contact_info {
	background-color: #BF7E04;
	padding-top:2px;
}

#contact_info p {
	font-size:70%;
	padding:0px;
	margin:0px;
}

#contact_info a {
	text-decoration:none;
}
#site_info {
	background-color:#BF7534;
	color:white;
	margin:0;
	padding:0;

}
#site_info p {
	font-size:75%;
	margin-top:5px;
	padding:0;

}